.DS_Store

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.alg
*.acn
*.acr
*.ist
